#titulo h2{
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
    font-size:30px;
    font-family: "Poppins", sans-serif;

}

#infoAutor{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #D9D9D9;
    padding-top:2%;
    padding-bottom:2%;

}

#infoAutor img{
    width:140px;
    margin:2%;
}

#infoAutor div{
    display:flex;
    flex-direction:column;
    justify-content: center;

}

#infoAutor div button{
    border:none;
    align-self:center;
    background-color: #88D4C2;
    border-radius:10px;
    width:20%;
    height:15%;
    margin-top:5%;
    margin-bottom:5%;
}

#infoAutor div button:hover{
    background-color: #3AA088;
}

#redes{
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
}

#principal{
    font-family: "Be Vietnam Pro", sans-serif;

    margin-top:2%;
    margin-right:10%;
    margin-left:10%;
}

#principal p{
    font-size:20px;
    text-align:justify;
}


#principal ul{
    font-size:20px;
    font-family: "Be Vietnam Pro", sans-serif;

    margin-top:2%;
    margin-bottom:2%;
    margin-right:10%;
    margin-left:10%;
}

#logotipo{
    margin:auto;
    width:20%;;
}